.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 10rem;
  padding: 0.5rem 0;
  margin: 1rem auto;
  background: #4979ff;
  border-radius: 0.5em;
  color: white;
  text-align: center;
}
