.single {
  padding: 0.8em 1em;
  background-color: white;
  display: block;
  margin: 1.2em 0.6em;
  border-left: 0.5em solid white;

  &:hover {
    border-left: 0.5em solid rgb(75, 160, 209);
  }
}
